body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

div{
    
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0,0,0,0.5);
    transform: translate(-50%, -50%);
    padding: 5px;
    box-shadow: 2px 2px 20px #919191;

}

h2{
    text-align: center;
    font-weight: 600;
    color: white;
}

.w, .h{
    text-align: left;
    margin: 10px 100px;
    color: white;
}

#weight, #height{
    color: white;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    border: 1px solid white;
    width: 300px;
    background-color: transparent;
    border-radius: 2px;
    outline: none;
}

#weight, #height, #btn{
    margin: 0px 100px 10px;
}

#result{
    color: white;
    text-align: center;
}

#btn{
    font-family: inherit;
    margin-top: 10px;
    border: none;
    color: white;
    background-color: #323435;
    width: 150px;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-left: 170px;
}

#btn:hover{
    box-shadow: 1px 1px 10px #ffff;
}

#info{
    color: white;
    font-family: sans-serif;
    font-size: 12px;
}

